@import "tailwindcss";

.carrouselAnimation {
    animation: carrouselAnimation 40s linear infinite;
    -webkit-animation: carrouselAnimation 40s linear infinite;
}

@keyframes carrouselAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}